$color-primary: #f29a7f;
$color-primary-dark: #ee8160;
$color-secondary: #7ad6bc;
$color-secondary-dark: #66eec7;
$color-white: #fff;
$color-black: #000;
$color-grey-dark-1: #333;
$color-grey-dark-2: #444;
$color-grey-dark-3: #555;
$color-grey-light-1: #777;
$color-grey-light-2: #b3b3b3;
$color-grey-light-3: #f0f0f0;
$color-grey-light-4: #f3f3f3;

$font-primary: "Quicksand", sans-serif;
$font-display: "Parisienne", cursive;

$bp-largest: 75em; //1200px;
$bp-large: 62.5em; //1000px;
$bp-medium: 50em; //800px;
$bp-small: 37.5em; //600px;
