.cta {
  grid-column: full-start / full-end;

  background-color: $color-primary;
  padding: 6rem 0;
  text-align: center;
}

.form {
  &__input {
    border: none;
    width: 20rem;
    padding: 0.7rem 2rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    color: $color-grey-dark-2;
    font-family: $font-primary;
  }
  &__submit {
    background-color: $color-primary;
    border: 1px solid $color-white;
    border-radius: 0.3rem;
    color: $color-white;
    padding: 0.7rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.5rem;
  }
  &__submit:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}
