.container {
  display: grid;
  grid-template-rows: 95vh repeat(10, min-content);
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}
